.box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  animation-name: example;
  animation-duration: 8s; 
  animation-iteration-count: infinite;
}


@keyframes example {
  0% {
    background-color: aquamarine;
    transform: translate(0, 0);
  }
  25% {
    background-color: coral;
    transform: translate(1000px, 0);
  }
  50% {
    background-color: gold;
    transform: translate(1000px, 500px);
  }
  75% {
    background-color: red;
    transform: translate(0, 500px);
  }
  100% {
    background-color: slateblue;
    transform: translate(0, 0);
  }
}